langchain==0.3.27
langchain-core==0.3.72
langchain-community==0.3.27
langchain-openai==0.3.28
faiss-cpu==1.11.0.post1
pytesseract==0.3.13
pdfplumber==0.11.7
pdf2image==1.17.0
easyocr==1.7.2
sentence-transformers==5.0.0
opencv-python
torch==2.3.0
numpy==2.0.2